<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<link rel="icon" type="image/x-icon" href="../../static/user/img/favicon.png">
	<title>Wedding Queen</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href= "{% static 'css/util.css'%}">-->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">-->
	<link rel="stylesheet" href="{% static 'css/login.css'%}" >
	<link rel="stylesheet" href="{% static 'css/util.css'%}" >

<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../static/user/img/logo.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="{% url 'user:login' %}" method="post" autocomplete="off">
					{% csrf_token %}
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "User ID is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<!--<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>-->
            			{% if messages %}
            			{% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  <center><p style="color: red";>{{ message }}</p></center>
							</div>
            {% endfor %}
          {% endif %}


					<div class="text-center p-t-136">
						<a class="txt2" href="/Register">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static 'css/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/vendor/tilt/tilt.jquery.min.js'%}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js'%}"></script>

</body>
</html>












































<!--
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="{% static 'css/login.css'%}" >
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">


<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
  			<div id="iosBlurBg">
  				<div id="whiteBg"></div>
  			</div>
  			<div id="bottomEnter"></div>
  			<div id="bottomBlurBg"></div>
  			&lt;!&ndash; Login Form &ndash;&gt;
  			<div class="loginForm">
  				<div class="title">
  					<p>LOG INTO<br><span>SYSTEM</span></p>
  					<hr>
  					<hr class="short">
  				</div>
  				<form action="{% url 'user:login' %}" method="post" autocomplete="off">
                    {% csrf_token %}
  					<div class="col-3">
			        	<input class="effect-2" type="text" placeholder="Login..." name="username">
			            <span class="focus-border"></span>

			            <input class="effect-2" type="password" placeholder="Password..." name="password" >
			            <span class="focus-border"></span>
			        </div>
					<div class="row">
            			{% if messages %}
            			{% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  <center><p style="color: red";>{{ message }}</p></center>
							</div>
            {% endfor %}
          {% endif %}

        </div>
					<div class="border-top pt-3">
            <small class="text-muted">
                Don't Have An Account? <a class="ml-2" href="/Register">Sign up</a>
            </small>


			        <div class="forget">
			        	<button  class="btn btn-default btn-sm">FORGOT PASSWORD?</button>
			        </div>
					<div style="margin-left:245px;margin-top:100px;" class="login">
			        	<button  type="submit" class="fa fa-lock fa-2x text-white">login?</button>
			        </div>
					&lt;!&ndash;<div class="forget">&ndash;&gt;
			        	&lt;!&ndash;<button class="btn btn-default btn-sm">SIGN UP</button>&ndash;&gt;
			        &lt;!&ndash;</div>&ndash;&gt;
					</div>



  				</form>
  			</div>
  			&lt;!&ndash;<a href="/home">
  				<div class="enterButton">
	  				<i class="fa fa-lock fa-2x text-white"></i><br>
	  				<span class="enterText text-white">Enter</span>
	  			</div>
  			</a>&ndash;&gt;
		</div>
	</div>
</div>
</body>
</html>-->
