{% extends 'user/base.html'%}
{%load crispy_forms_tags%}\
{%block title%}User Registration{%endblock%}
{% block body %}
{%block name%}<h1><center><ul>User Registration</ul></center></h1>{%endblock%}
<div class="bg-img">
<form method="post" autocomplete="off">
    {%csrf_token%}
    {{form|crispy}}
    {{pform|crispy}}

    <input type="submit" class="btn btn-primary"value="register">
</form>
</div>
<style>
.textInput.form-control{
background-color: transparent;
color : white !important;

}
</style>
{% endblock %}